Web Programming
<!--link to main stylesheet -->
<link rel="stylesheet" type="text/css" href="/css/main.css" />


<div class="blurb">
        <h1>
          Hello World
        </h1>
        <p>
          Your page ....
        </p>
        <footer>
          <ul>
            <li>
              <a href="https://github.com/DavidNathaniel">
                github.com/DavidNathaniel
              </a>
            </li>
            <li>
              <a href="https://DavidNathaniel.github.io">
                DavidNathaniel.github.io 
              </a>
            </li>
          </ul>
        </footer>
      </div>
